{% load utils %}


<li>
    <a href="javascript:;">
        <i class="iconfont left-nav-li" lay-tips="Account management">&#xe6a7;</i>
        <cite>Account management</cite>
        <i class="iconfont nav_right">&#xe697;</i>
    </a>
    <ul class="sub-menu">
        <li>
            <a onclick="xadmin.add_tab('Admin account management','/admins/admin/list/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Admin account management</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Admin account to add','/admins/admin/add/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Admin account to add</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Registered users to manage','/users/admin/list/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Registered users to manage</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Add a new user','/users/admin/add/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Add a new user</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Password change','/common/mod/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Password change</cite>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="iconfont left-nav-li" lay-tips="System management">&#xe6a7;</i>
        <cite>System management</cite>
        <i class="iconfont nav_right">&#xe697;</i>
    </a>
    <ul class="sub-menu">
        <li>
            <a onclick="xadmin.add_tab('Round figure added','/picture/admin/add/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Round figure added</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Round figure search','/picture/admin/list/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Round figure search</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Comments on the management','/issues/admin/list/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Comments on the management</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Collection management','/collection/admin/list/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Collection management</cite>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="iconfont left-nav-li" lay-tips="Classification management">&#xe6a7;</i>
        <cite>Classification management</cite>
        <i class="iconfont nav_right">&#xe697;</i>
    </a>
    <ul class="sub-menu">
        <li>
            <a onclick="xadmin.add_tab('Classification of add','/columns/admin/add/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Classification of add</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Classification of searcj','/columns/admin/list/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Classification of search</cite>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="javascript:;">
        <i class="iconfont left-nav-li" lay-tips="Film management">&#xe6a7;</i>
        <cite>Film management</cite>
        <i class="iconfont nav_right">&#xe697;</i>
    </a>
    <ul class="sub-menu">
        <li>
            <a onclick="xadmin.add_tab('The film to add','/movies/admin/add/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>The film to add</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('The film to search','/movies/admin/list/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>The film to search</cite>
            </a>
        </li>
    </ul>
</li>
    