{% load utils %}


<li>
    <a href="javascript:;">
        <i class="iconfont left-nav-li" lay-tips="Personal center">&#xe6a7;</i>
        <cite>Personal center</cite>
        <i class="iconfont nav_right">&#xe697;</i>
    </a>
    <ul class="sub-menu">
        <li>
            <a onclick="xadmin.add_tab('Modify personal information','/users/admin/updtself/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Modify personal information</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('Change the password','/common/mod/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>Change the password</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('My collection','/collection/admin/username/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>My collection</cite>
            </a>
        </li>
        <li>
            <a onclick="xadmin.add_tab('My comments','/issues/admin/author/')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>My comments</cite>
            </a>
        </li>


        </li>
        <li>
            <a onclick="xadmin.add_tab('My browsing history','/history/admin/visitor')">
                <i class="iconfont">&#xe6a7;</i>
                <cite>My browsing history</cite>
            </a>
        </li>
    </ul>
</li>
    